.slick-slider {
    width: 90%;
    margin: auto;
    background: #000;
}

.nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
    pointer-events: none;
    opacity: 0.2;
}

//   .prev-slide {
//     background: url(assets/images/nav-icon.png) no-repeat scroll 0 0;
//     left: -33px;
//   }

//   .next-slide {
//     background: url(assets/images/nav-icon.png) no-repeat scroll -24px 0px;
//     right: -33px;
//   }

.prev-slide:hover {
    background-position: 0px -53px;
}

.next-slide:hover {
    background-position: -24px -53px;
}

.arrow-right {
    position: absolute;
    cursor: pointer;
    opacity: 0.65;
    user-select: none;
    display: block;
    top: 50%;
    margin-top: -20px;
    width: 30px;
    height: 30px;
    right: 20px;
    border-bottom: 6px solid #000000;
    border-right: 6px solid #000000;
    transform: rotate(-45deg);
    transition: right 0.5s;
}

.arrow-left {
    position: absolute;
    display: block;
    cursor: pointer;
    opacity: 0.65;
    user-select: none;
    top: 50%;
    margin-top: -20px;
    width: 30px;
    height: 30px;
    left: 20px;
    border-bottom: 6px solid #000000;
    border-left: 6px solid #000000;
    transform: rotate(45deg);
    transition: left 0.5s;
}
