.btn{
    border:2px solid blue;
    padding:5px;
    color:#fff;
    background-color: blue;
    cursor: pointer;
}
.form-control {
    display: block;
    width: 50%;
    margin: 0px;
    padding: 10px;
    border: 2px solid blue;
}