<!-- $event  object is used to fetch the event input data -->
<label>Server Name</label>
<!-- <input type = "text" class= "form-control" (input) = "OnUpdateServerName($event)"> -->
<p> Two way binding example</p>
<input type="text" class="form-control" [(ngModel)]="serverName"><br>
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-primary" (click)="OnCreateServer()">Add Server</button>
<!-- <p [innerText]="serverCreateStatus"></p> -->
<p *ngIf ="serverCreatedStatus">"Server is created with {{serverName}}</p>
<app-server *ngFor = "let server of servers"></app-server>
<!-- <app-server></app-server> -->