.panel {
    border: 2px solid gray;
    margin:10px;

    .panel-heading {
        border-bottom: 2px solid gray;
        padding: 15px;
    }

    .panel-body {
        padding: 15px;
      
    }
}
label{
    color:red;
}
p{
    color:blue;
}